*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

header, footer{
    background-color: #006494;
}

header{
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img{
    height: 30px;
    width: 140px;
}

.primeirobotao button{
    margin-right: 15px;
    color: #ffffff;
    border-color: #ffffff;
    background-color: #f77f00;
    font-size: 10px;
}

.headeresquerda{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5px;
}

p{
    margin-left: 20px;
    text-align: center;
}
/*final do header*/
.content {
    max-width: 1200px;
    margin: auto;
    width: 100%;
}

.primeirasessao .content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.primeirasessao div img{
    width: 300px;
    height: 400px;
}

/*final da primeira sessao*/

.primeirasessao, .terceirasessao{
    background-color: #ffffff;
    color: #006494;
}

.segundasessao, .quartasessao{
    background-color: #3a86ff;
    color: #ffffff;
}

/*inicio da segunda sessao*/
.segundasessao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.titulo{
    font-size: 30px;
}
.segundobotao button{
    background-color: #ffffff;
    color: #006494;
    border-color: #ffffff;
    padding: 15px 25px;
    font-size: 15px;
}
.fraseembaixodobotao{
    font-size: 12px;
}

/*inicio da terceira sessao*/
.terceirasessao{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.primeira-tabela-div, .terceira-linha{
    text-align: center;
}

h3{
    text-align: center;
    margin-top: 35px;
}
.linha, .terceira-linha{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.terceira-linha{
    border: solid 1px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 35px;
}

.linha div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px;
    width: 20%;
    height: 60px;
    margin-right: 5px;
}

/*inicio da quarta sessao*/
.quartasessao .content{
    display: flex;
}

.quarta-sessao-esquerda {
    padding: 50px 25px 50px 0;
    border-right: solid white 1px;
}

.quarta-sessao-esquerda div {
    margin-bottom: 20px;
    
}

.quarta-sessao-direita {
    padding: 50px 0 50px 25px;
}

h1{
    font-size: 35px;
}


/*inicio do footer*/
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 10px;
    padding: 30px;
}

.finalfooter{
    margin-top: 10px;
}