*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

header, footer{
    background-color: #006494;
}

header, .header-esquerda, .linha, .terceira-linha{
    display: flex;
    justify-content: space-between;
}

.segunda-sessao, .terceira-sessao{
    display: flex;
    justify-content: column;
}

.segundo-botao, .terceira-linha div, .linha div, footer{
    display: flex;
    justify-content: center;
}

header{
    align-items: center;
}

header, .primeiro-botao button, .segunda-sessao, .quarta-sessao, footer{
    color: #ffffff;
}

body{
    margin: 0;
}

img{
    height: 30px;
    width: 140px;
}

.primeira-sessao .conteudo .p-esquerda{
    text-align: left;
}

p{
    text-align: center;
}

.primeiro-botao button{
    margin-right: 15px;
    font-size: 10px;
    padding: 8px;
    border-color: #ffffff;
    background-color: #f77f00;
}

.header-esquerda{
    align-items: center;
    margin-left: 5px;
}

.header-esquerda .texto-do-lado-da-logo{
    margin-left: 15px;
}
/*final do header*/

.conteudo{
    max-width: 1200px;
    margin: auto;
    width: 100%;
}

.primeira-sessao .conteudo{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.primeira-sessao div img{
    width: 300px;
    height: 400px;
}
/*final da primeira sessao*/

.primeira-sessao, .terceira-sessao{
    background-color: #ffffff;
    color: #006494;
}

.segunda-sessao, .quarta-sessao{
    background-color: #3a86ff;
}

/*inicio da segunda sessao*/
.segunda-sessao{
    justify-content: center;
    align-items: center;
}

.titulo{
    font-size: 30px;
}

.segundo-botao button{
    padding: 15px 25px;
    font-size: 15px;
    background-color: #ffffff;
    color: #006494;
    border-color: #ffffff;
}

.frase-embaixo-do-botao{
    font-size: 12px;
}

/*inicio da terceira sessao*/
.terceira-sessao{
    align-items: center;
}

.primeira-tabela-div, .terceira-linha{
    text-align: center;
}

h3{
    text-align: center;
    margin-top: 35px;
}

.linha, .terceira-linha{
    margin-bottom: 5px;
}

.terceira-linha{
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 35px;
}

.terceira-linha div{
    align-items: center;
    border: solid 1px;
    padding-left: 20px;
    padding-right: 20px;
    height: 60px;
}

.linha div{
    align-items: center;
    border: solid 1px;
    width: 20%;
    height: 60px;
    margin-right: 5px;
}

/*inicio da quarta sessao*/
.quarta-sessao .conteudo{
    display: flex;
}

.quarta-sessao-esquerda{
    padding: 50px 25px 50px 0;
    border-right: solid white 1px;
}

.quarta-sessao-esquerda div{
    margin-bottom: 20px;
}

.quarta-sessao-direita{
    padding: 50px 0 50px 25px;
}

h1{
    font-size: 35px;
}

/*inicio do footer*/
footer{
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    font-size: 10px;
    padding: 30px;
}

.final-footer{
    margin-top: 10px;
}